/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans');

$font-family-serif: "PT Sans", sans-serif;
$font-family-sans-serif: "PT Sans", sans-serif;
$headings-font-family: "Raleway", sans-serif;
$primary: #194461;
$navbar-bg: #194461;

/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .2);
}
